.hi {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.hello {
       background-color: lightskyblue;
       border-radius: 10px;
       width: 40%;
       padding: 12px;                    
}

.how {
      display: inline;
}
.then {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.when {
    display: inline;
    vertical-align: top;
    color: white;
    padding-left: 5px;
}
.khan {
    vertical-align: top;
    color: black;
    text-decoration: none;
    
}
.khan:hover {
    text-decoration: wavy;
}
.date {
    color: black;

    vertical-align: center;
    font-size: 12px;
}
.ques {
    width: 100%;
    height: 500px;
    border-radius: 45px;
}
.likeBtn {
    width: 30%;
    padding: 7px;
    border-radius: 5px;
    font-weight: italic;
    margin: 10px;
}
.likeBtn:hover {
     background-color: lightgray;
}
.cmtBtn {
            
        width: 30%;
        margin: 10px;
        padding: 7px;
        border-radius: 5px;
        font-weight: italic;
}
.cmtBtn:hover {
    background-color: lightgray;
}
.shareBtn {
    width: 30%;
    padding: 7px;
    border-radius: 5px;
    font-weight: italic;
    margin: 10px;
}
.shareBtn:hover {
    background-color: lightgray;
}